<!DOCTYPE html>
<html lang="en">
<head>
    <title>Schema.graphql</title>
    <link n:nonce href="https://cdn.jsdelivr.net/gh/graphpql/graphpinator-printer/src/build/theme_default.css" rel="stylesheet">
</head>
<body>
    {$schema|noescape}
</body>
</html>
