<!DOCTYPE html>
<html lang="en">
<head>
    <title>Schema.graphql</title>
    <link n:nonce href="https://ghcdn.rawgit.org/infinityloop-dev/graphpinator-printer/master/src/theme/default.css" rel="stylesheet">
</head>
<body>
    {$schema|noescape}
</body>
</html>
